.faq_item {
    border-bottom: 1px solid #E2E2E2;
    overflow: hidden;
}

.faq_item.open {
    overflow: auto;
}



.faq_container {
    width: 70%;
    margin: auto;
}

.faq_item h4 {
    padding: 20px 0px 20px 0px;
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    position: relative;
}

.faq_item p {
    margin: 0;
    padding-bottom: 1rem;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-header i {
    padding: 20px 0px 20px 0px;

}