.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: var(--color-primary);
}

.navbar-links a:hover {
    color: var(--color-font-sky);

}

.navbar-links li {
    padding: 1rem 2rem;
    font-weight: 500;
}

.navbar-logo img {
    width: 120px;
    object-fit: contain;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(322deg) brightness(102%) contrast(101%);

}