@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {

  --font-family: 'Poppins', sans-serif;
  --color-font: #102a43;
  --color-font-sky: #41b3ff;
  --gradient-bar: linear-gradient(180deg, #eff8ff 0%, #EFF8FF00 95%);
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style-type: none;
}